<!--It should be named modelName_form so it can be recognised without template_name in view CreateUser-->
{% extends 'base.html' %}
{% block mytitle %}Add a New User{% endblock %}

{% block mybody %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Add a New User</h3>
					   	<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data"> <!-- to upload many files -->
							<!-- action nothing because it is redirected to the same view , handle behind the scenes --> 
							{% csrf_token %}   <!--  for common security practises-->
							{% include 'authentification/form_template.html' %}  <!-- how we want our labels shown -->
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10"> <!-- im pass 2 fields -->
									<button type="submit" class="btn btn-success">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}