{% extends 'base.html' %}
{% load staticfiles %}
{% block mytitle %}
{% if object %}
  Update Node 
{% else %}
  Add a new Node 
{% endif %}
{% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/style_listnodes.css' %}">
<style type="text/css">
  .head h1{
    padding-top: 0px;
    text-shadow: 1px 1px 5px #610B38 ;
    color: #610B38
  }
  .panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .head{
    background-image: url("{% static 'media/images/test2.jpg' %}");
    padding-bottom: 100px;
  }
  .btPers{
    border-radius: 0px 10px 10px 0px;
  }
  .select{
    padding-right: 0px;
  }

</style>
{% endblock %}

{% block mybody%}
      <div class="head">
       <div class="container"  style="margin-left: 400px;margin-top: 50px;">
          <div class="row">
             <div class="container-fluid">
                <div class="row">
                   <div class="col-sm-12 col-md-6 col-md-offset-1">
                      <div class="panel panel-default">
                         <div class="panel-body">
                            {% if object %}
                              <center><h1>Update Node</h1></center>
                            {% else %}
                              <center><h1>Add a New Node</h1></center>
                            {% endif %}
                             
                             <center> <hr class="separator"> </center>
                            
                            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                               {% csrf_token %}   <!--  for common security practises-->
                               {% include 'nodePerso/form_template.html' %}  <!-- how we want our labels shown -->
                               <div id="attribut" class="row">
                                <a href="#" data-toggle="modal" data-target="#myModal" class=" pull-right"><span class="fa fa-plus" aria-hidden="true"> Add Attribute  </span></a>
                                </div>
                                <div class="form-group">
                                  <div class="col-sm-12">
                                     <!-- im pass 2 fields -->
                                     <center><button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Submit</button></center>
                                  </div>
                               </div>
                            </form>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div><br>
      </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center> <h1 class="modal-title" id="myModalLabel">Add an attribute</h1> </center>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="nameAtt">Name of attribute :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nameAtt" placeholder="">
                        </div>
                    </div><br>
                </div>
                <div class="modal-footer">
                   <center>
                    <button type="button" class="btn bt btn-primary" onclick="add()" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                   </center>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if attributes %}
            {% for attribute in attributes %}
                var div = document.createElement('div');
                var cpt = 1;
			    div.className = 'form-group';
			    div.id = cpt ;
			    div.innerHTML +=
							'<label class="control-label col-sm-2" for=""{{ attribute.pk }}"">{{ attribute.name }} : </label>\
							<div class="col-sm-4">\
							<select class="form-control select" id="{{ attribute.pk }}"  name="{{ attribute.pk }}">\
                                {% if attribute.type == "text" %}\
                                    <option value="text" selected >Text</option>\
                                    <option value="number" >Number</option>\
                                {% elif attribute.type == "number" %}\
                                    <option value="number" selected >Number</option>\
                                    <option value="text" >Text</option>\
                                {% endif %}\
                            </select>\
							</div>'
              {% if object %}
              {% else %}
                div.innerHTML += 
                '<div class="col-sm-4" style="margin-top: 50px;">\
                <a href="#" onclick="del('+ cpt +')" ><img src="{% static 'media/img/del.png' %}" width="20" height="20"></a>\
              </div>';
              {% endif %}
							
			    cpt = cpt + 1 ;
			document.getElementById('attribut').appendChild(div);
            {% endfor %}
        {% endif %}
        var cpt = 1;
		function add()
		{
			var div = document.createElement('div');
			div.className = 'form-group';
			div.id = cpt ;
			div.innerHTML =
							'<label class="control-label col-sm-2" for='+document.getElementById("nameAtt").value +'>'+document.getElementById("nameAtt").value +': </label>\
							<div class="col-sm-4 input-group">\
                                <select class="form-control select" id="'+document.getElementById("nameAtt").value +'" name="'+document.getElementById("nameAtt").value +'">\
                                    <option value="text">Text</option>\
                                    <option value="number">Number</option>\
                                </select>';
              {% if object %}
              {% else %}
                div.innerHTML += 
                '<span class="input-group-btn">\
                  <a href="#" onclick="del('+cpt+')" ><button class="btn btn-danger btn-add btPers" type="button">\
                      <span class="glyphicon glyphicon-minus"> \
                      </span>\
                  </button></a>\
              </span>\
              </div>';
              {% endif %}
			cpt = cpt + 1 ;
			document.getElementById('attribut').appendChild(div);
		}
		function del(id)
		{
			console.log(id);
			document.getElementById("attribut").removeChild(document.getElementById(id))
		}
	</script>

{% endblock %}