{% extends 'base.html' %}
{% load staticfiles %}

{% block mytitle %} NodesList {% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/style_listnodes.css' %}">

{% endblock %}

{% block mybody%}
	<div id="header" class="header">
		<div class="container">
			<button class="btn btn-lg btn-primary pull-right"  onclick="location.href = '{% url 'nodePerso:node-add' %}';">
				<i class="fa fa-plus-circle" ></i>
				Add a node
			</button>
			<div class="row">
				<center><h1> Your previous personalised nodes</h1></center>
				<center> <hr class="separator"> </center>
				{% if all_nodes %}
				{% else %}
					<h1>No nodes </h1>
				{% endif %}
				<div class="albums-container container-fluid">
					<!-- Albums -->
					<div class="row">
						<div class="col-sm-12"></div>
						{% if all_nodes %}
							{% for node in all_nodes %}
								<div class="col-sm-4 col-lg-2">
									<div class="thumbnail">
										<a href="" data-toggle="modal" data-target="#nodeDetail" onclick="loadNode({{ node.id }})">
											<img src="{{ node.photo.url }}" class="img-responsive  center-block">  <!-- {{ user.photo.url }} -->
										</a>
										<div class="caption">
											<div class="block-text rel zmin">
											<h2 class="text-center">{{ node.name }}</h2>
											</div>
											<!-- View Details -->
											<center><a href="" data-toggle="modal" data-target="#nodeDetail" onclick="loadNode({{ node.id }})" class="btn btn-primary btn-sm " role="button">
												View Details
											</a></center>
											<div>
											<center>
											<!-- Update Node -->
											<button type="button" class="btn btn-default upd btn-sm" title="Update" onclick="javascript:location.href='{% url 'nodePerso:node-update' node.id %}'" >
												<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
											</button>
											<!-- Delete Node -->
											<form action="{% url 'nodePerso:node-delete' node.id %}" method="post" style="display: inline;">
												{% csrf_token %}
												<input type="hidden" name="album_id" value="{{ node.id }}"  title="Delete"/>
												<button type="submit" class="btn btn-default btn-sm"  title="Delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</form>
											</center>
											</div>
										</div>
										
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class="col-sm-12">
								<br>
								<h1>No existing nodes </h1>
							</div>
					   {% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>

    <!-- Modal -->
	<div class="modal fade" id="nodeDetail" tabindex="-1" role="dialog" aria-labelledby="nodeDetail">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    <center><h2 class="modal-title" id="noeud"></h2></center>
				</div>
				<div class="modal-body" id="detailNode"> </div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<script>
		function loadNode(pk)
		{
			$.ajax({
				type: "POST",
				url: "{% url 'nodePerso:detailNode'%}",
				dataType: "json",
				traditional: true,
				data: {"pk":pk},
				success: function(response) {
				    console.log(response);
				    var noeud = response.node.fields;
				    var attributes = response.attributes;
                    document.getElementById('noeud').innerHTML= 'Node: '+ noeud.name ;
                    document.getElementById('detailNode').innerHTML=
                        '   {% load static %}\
                            <center> \<center> \
                                <img src=" {% get_media_prefix %}'+ noeud.photo +'" class="img-responsive"> \
                            </center> \
                            <h4> Derived From : '+ response.base +'</h4> \
                            <h4> Date de creation :'+ noeud.date +'</h4> ';
                    for (var attribute in attributes){
                        console.log(attributes[attribute]);
                        document.getElementById('detailNode').innerHTML +=
                            '<h4>'+attributes[attribute].fields.name+' : '+ attributes[attribute].fields.type +'</h4>'
                    }
				},
				error: function(response) {
					console.log(response);
				}
			});
		}
    </script>
{% endblock %}