{% extends 'base.html' %}
{% load staticfiles %}
{% block mytitle %} MyGraph {% endblock %}

{% block mylink %}
	<link rel="stylesheet" href="{% static 'css/style_graph.css' %}">
	<script src="{% static 'cytoscape.js-master/dist/cytoscape.js' %}"></script>
	<script src="{% static 'ace-builds-master/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'ace-builds-master/src/mode-yaml.js' %}" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		.head{
			min-height: 600px;
			padding-top: 150px;
		}
		.img{
		    padding-top: 50px;
		}
		h3{
			font-size: 40px;
		    font-weight: 700;
		    text-shadow: 1px 1px 5px #610B38 ;
		    color: black;
		}
	</style>
{% endblock %}

{% block mybody%}
	{% if request.user.get_username %}
		<div class="head">
			<div class="container">
				<div class="row">
					<center><h3>Please wait, your data is being processed</h3></center>
				</div>
				<div class="row ">
					<center class="img"><img src="{% static '/media/img/load.gif' %}" alt="Wait a moment please"></center>
				</div>
			</div>
		</div>
		<form id="form" method="POST" action="{% url 'grapheGenerator:graph' %}" enctype="multipart/form-data">
			{% csrf_token %} 
			<input type="hidden" name="path" value="{{ path }}">
		</form>
		<script>
			window.setTimeout(function(){document.getElementById("form").submit();}, 8000);
		</script>
	{% endif %}
{% endblock %}

