
/*HEADER*/

.header {

    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/header.jpg);
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #4A1A2C;
}


.header h1 {

    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
    text-shadow: 1px 1px 20px #000000 ;
    color: #ffffff;

}

.ban
 {
     text-align: center;
}
.header h1,
.header p,
.header button {

    margin-top: 20px;

}

.header p {

  font-size: 20px;
  font-weight:500;
  text-align: left;
  color: #000000 ;
}
.header .pg {

  padding-top: 20px;
}

.header .btn-primary:hover {
  background-color: #ffffff !important;
  color: #FF3300  !important;
  border-color: #FF3300 !important;
}


.header .btn-success:hover {
  background-color: #ffffff !important;
  color: #149414  !important;
  border-color: #149414 !important;
}


.header .btn-primary {
  color: white;
  border-color: #FF3300;
  background-color: #FF3300; }
.header   .btn-primary.focus, .header .btn-primary:focus {
    color: white;
    border-color: #a4270d;
    background-color: #eb3812; }
  .header .btn-primary:hover {
    color: white;
    border-color: #e13612;
    background-color: #eb3812; }
.header   .btn-primary.active,.header  .btn-primary:active,
  .open >.header  .btn-primary.dropdown-toggle {
    color: white;
    border-color: #e13612;
    background-color: #eb3812; }
  .header   .btn-primary.active.focus, .header .btn-primary.active:focus,.header  .btn-primary.active:hover, .header .btn-primary:active.focus,.header  .btn-primary:active:focus,.header  .btn-primary:active:hover,
    .open >.header  .btn-primary.dropdown-toggle.focus,
    .open >.header  .btn-primary.dropdown-toggle:focus,
    .open >.header  .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #a4270d;
      background-color: #c93110; }
  .header .btn-primary.active,.header  .btn-primary:active,
  .open > .header  .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus,.header  .btn-primary.disabled:focus,.header  .btn-primary.disabled:hover,.header  .btn-primary[disabled].focus,.header  .btn-primary[disabled]:focus,.header  .btn-primary[disabled]:hover,
  fieldset[disabled] .header  .btn-primary.focus,
  fieldset[disabled] .header  .btn-primary:focus,
  fieldset[disabled] .header  .btn-primary:hover {
    border-color: #FF3300;
    background-color: #FF3300; }
  .header  .btn-primary .badge {
    color: #FF3300;
    background-color: white; }

.header .btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      text-align: center;
  margin: 40px 20px; }

.header .btn-xl {
  padding: 15px 30px; }


.separator {
  height: 3px;
  width: 10%;
  border: none ;
  box-shadow: none;
  background-color: #FF3300 ;

}


.separator1 {
  height: 3px;
  width: 10%;
  border: none ;
  box-shadow: none;
  background-color: #FFFF99 ;

}

@media(max-width:768px) {

    .header {

        padding: 30px;
        height: 750px;
    }

    .header .btn {

        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {

        font-size: 20px;
    }

    .header p {

        font-size: 10px;
    }
}


/*SERVICES*/

.services {

    padding: 80px 0 80px;
    text-align: center;
    background-color: #FFFFCC;

}

.services h2,
.services h4 {

    color: #4c4c4c;
    margin: 20px 0 20px;
}


.services p {

    color: #737373;
    font-size: 16px;
    padding-bottom: 40px;
    text-align: left;
}


.services .tat p {

    color: #737373;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.services i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #FF3300;
    color: #fff;
}


@media(max-width:768px) { /* how they look in small devices */

    .services {

        padding: 30px;
    }
}




#portfolio
{
  background-color: #FFFFCC;

}
#portfolio h2
{

    margin-top: 80px;
    text-align: center;
    margin-bottom: 10px;

}
#portfolio h3
{
  /*  color: #fff;  */
    margin-top: 10px;
    margin-bottom:  30px;
    text-align: center;

}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}


#portfolio .portfolio-item .portfolio-link img {

    max-height: 150px;
    width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #FF3300;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/*  Portfolio modal  */

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
      background-color: #FFFFCC;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 30px;
    margin-top: 2px;
    font-size: 3em;
    color: #FF3300 ;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
    text-align: left;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.portfolio-modal  .btn-primary {
  background-color: #FF6600 ;
}

/*CONTACT*/

.contact {

    padding: 50px 0 80px;
    text-align: center;
    background-color: #FFFFCC;

}

.contact p {

    padding-bottom: 30px;
    color: #737373;
}

.contact h2 {

    color: #4c4c4c;
    margin: 20px 0 20px;
    margin-top: 60px;

}


/* contact 1*/

.main{
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  border: 5px solid #dc143c;
  border-left: 40px solid #dc143c;
  box-shadow: 1px 2px 10px #555;
}
.main .info{
  width: 100%;
  background-color: #dc143c;
  padding: 7px;
  text-shadow: 1px 1px 1px #222;
  color: #fff;
  font-size: 20px;
}
.main .form-box{
  padding: 20px;
  background-color: #eee;
}
.main label{
  color: navy;
  font-size: 18px;
}
.main .inp,.msg-box{
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #dc143c;
  font-weight: bold;
  color: navy;
  border-right: 15px solid #dc143c;
  border-left: 15px solid #dc143c;
  resize: none;
}
.main .msg-box{
  height: 80px;
}
.main .inp:focus,.msg-box:focus{
  outline: none;
  border: 2px solid #FF3300;
  border-right: 15px solid #FF3300;
  border-left: 15px solid #FF3300;
}
.main .sub-btn{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
  background: linear-gradient(#dc143c,#800000);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #444;
}
.main .sub-btn:hover{
  background: linear-gradient(#800000,#dc143c);
  opacity: 0.8;
  transition: all ease-out 0.2s;
}
.main .sub-btn:focus{
  outline: none;
}
@media(max-width: 720px){
  .main{
    width: 90%;
  }
}

/*  Touch  */


.touch .social {

    font-size: 40px;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 30%;
    background-color: #fff;
    color: #3300CC;

}



.touch a:hover i {

    background-color: #3300CC;
    color: #fff;
}

.touch {

    padding: 50px 0 80px;
    text-align: center;
    padding-top: 30px;
    background-color: #FF3300;
}


.touch h2
{

    margin: 20px 0 20px;
    color: #fff;
    margin-top: 80px;

}



.touch p {

  color: #fff;
}



/*  end touch */

