* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar-header1{
  margin-left:5px;
  width:100%;
}

.navbar {

    background-color: #222222 !important;  /* important ro overcome bootstrap */
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}


.navbar a {

    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {

    opacity: 1;
    background-color:  #f05f40 !important;  /* #111111  */
}


.navbar .navbar-brand:hover  {

    opacity: 1;
    background-color:  #111111  !important;
}
.navbar .navbar-brand  {

  margin-left: 0px  !important;
}


.navbar-brand {
    font-family: 'Satisfy', cursive  !important;  /*  if font csatify can't be loaded we give cursive by default */
}


.navbar-default .navbar-nav > .active{
   color: white ;
  background-color: #FF3300 ;
  opacity: 1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color:  white;
     background-color: #FF3300 ;
     opacity: 1;
}



  .icon-small
  {
      height:18px;
      margin:0;
    padding:0;
  }

  .icon-medium
  {
      height:22px;
    margin:0;
    padding:0;
  }

  .navbar .lang a:focus {

      opacity: 1;
      background-color:  #f05f40 !important;  /* #111111  */
  }


  .navbar .lang .dropdown-menu a{

      opacity: 1;
      color:  #f05f40 !important;  /* #111111  */
  }
  .navbar .lang .dropdown-menu a:hover{

      opacity: 1;
      background-color:  #FF3300 !important;  /* #111111  */
      color: #fff !important;
  }

  .navbar .lang .dropdown-menu a:focus{

      opacity: 1;
      background-color:  #FF3300 !important;  /* #111111  */
      color: #fff !important;

  }

  .navbar .lang .dropdown-menu {

      opacity: 1;
      background-color:  #fff !important;  /* #111111  */
      margin-right: 0px !important;
      padding-left: 0px;

  }

  .navbar .lang .dropdown-menu li {


      min-width: 100% !important;


  }

  .navbar .lang .dropdown-menu {
    min-width: 107px !important;
  }

.navbar-brand {
    font-family: 'Satisfy', cursive;  /*  if font csatify can't be loaded we give cursive by default */
    text-transform: capitalize;
    font-weight: 900;
    font-size: 30px;
    margin-left: 50px
}

.navbar-header1{
  margin-left:0px;
  width:100%;
}

.navbar .lang1 a:focus {

      opacity: 1;
      background-color:  #f05f40 !important;  /* #111111  */
  }


  .navbar .lang1 .dropdown-menu a{

      opacity: 1;
      color:  black !important;  /* #111111  */
      text-transform: capitalize !important;

    font-size: 20px;
  }

  .navbar .lang1 .dropdown-menu a:hover{

      opacity: 1;
      background-color:   grey !important;  /* #111111  */
      color: #fff !important;
  }

  .navbar .lang1 .dropdown-menu a:focus{

      opacity: 1;
      background-color:  grey !important;  /* #111111  */
      color: #fff !important;

  }

  .navbar .lang1 .dropdown-menu {

      opacity: 1;
      background-color:  #FFFFCC !important;  /* #111111  */
      margin-right: 0px !important;
      padding-left: 0px !important;

  }

  .navbar .lang1 .dropdown-menu li {


      min-width: 100% !important;


  }

  .navbar .lang1 .dropdown-menu {
    min-width: 107px !important;
  }

   .navbar .lang1 .dropdown-menu  .btn-primary {
  color: white !important;
  border-color: #FF3300 !important;
  background-color: #FF3300 !important;
  margin-top: 10px !important; }
       
  .navbar .lang1 .dropdown-menu .btn-primary:focus {
    color: red !important;
    border-color: #a4270d !important;
    background-color: white !important; }

  .navbar .lang1 .dropdown-menu .btn-primary:hover {
    color: red !important;
    border-color: #e13612 !important;
    background-color: white !important; }

 .navbar .lang1 .dropdown-menu  .btn-primary:active,
   {
    color: red !important;
    border-color: #e13612 !important;
    background-color: white !important; } 


/*FOOTER*/

.footer {

    padding-top: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {

    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {

    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {

    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.footer .copyright p{

    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;

}
