 
.modal-content  .-primary {
  margin-right: 30px;
}

.modal-content  .-default {
 color: #FF3300;
  border-color: #FF3300;
  background-color: white; 
}

.modal-content  .-default:focus {
 color: white !important;
  border-color: #FF3300 !important;
  background-color: #FF3300 !important; 
}

.modal-content  .-default: {
 color: white !important;
  border-color: #FF3300 !important;
  background-color: #FF3300 !important; 
}

.modal-content .-primary: {
  background-color: white !important;
  color: blue  !important;
  border-color: blue !important;
}


.modal-content  .-primary:focus {
  background-color: white !important;
  color: blue  !important;
  border-color: blue !important; }


.modal-content .-danger: {
  background-color: #ffffff !important;
  color: red  !important;
  border-color: red !important;
}


.modal-content .-danger:focus {
  background-color: #ffffff !important;
  color: red  !important;
  border-color: red !important;
}

.modal-content  .form-group {
  margin-top: 20px;
 }


/*HEAD*/

.head {
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../media/images/header.jpg);
    background-position: top ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #4A1A2C;
    min-height: 800px; 
}



.head h1 {

    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
    text-shadow: 1px 1px 20px #000000 ;
    color: #ffffff;
}

.ban
 {
     text-align: center;
}


.head p,
.head button {
    margin-top: 20px;
}

.head p {

  font-size: 20px;
  font-weight:500;
  text-align: left;
  color: #000000 ;
}
.head .pg {

  padding-top: 20px;
}

.head .-primary: {
  background-color: #ffffff !important;
  color: #FF3300  !important;
  border-color: #FF3300 !important;
}


.head .-success: {
  background-color: #ffffff !important;
  color: #149414  !important;
  border-color: #149414 !important;
}


.head .-primary {
  color: white;
  border-color: #FF3300;
  background-color: #FF3300; }
.head   .-primary.focus, .head .-primary:focus {
    color: white;
    border-color: #a4270d;
    background-color: #eb3812; }
  .head .-primary: {
    color: white;
    border-color: #e13612;
    background-color: #eb3812; }

  .-primary.disabled.focus,.head  .-primary.disabled:focus,.head  .-primary.disabled:,.head  .-primary[disabled].focus,.head  .-primary[disabled]:focus,.head  .-primary[disabled]:,
  fieldset[disabled] .head  .-primary.focus,
  fieldset[disabled] .head  .-primary:focus,
  fieldset[disabled] .head  .-primary: {
    border-color: #FF3300;
    background-color: #FF3300; }
  .head  .-primary .badge {
    color: #FF3300;
    background-color: white; }

.head . {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
 }

.head .-xl {
  padding: 15px 30px; }


.separator {
  height: 3px;
  width: 10%;
  border: none ;
  box-shadow: none;
  background-color: #FF3300 ;

}


.separator1 {
  height: 3px;
  width: 10%;
  border: none ;
  box-shadow: none;
  background-color: #FFFF99 ;

}

@media(max-width:768px) {

    .head {

        padding: 30px;
        height: 750px;
    }

    .head . {

        font-size: 10px;
        margin-left: 20px;
    }

    .head h1 {

        font-size: 20px;
    }

    .head p {

        font-size: 10px;
    }
}

/*  Portfolio modal  */


  .select .modal-content {
    margin-top: 100px;
    height: 400px;
    background-color: #F5F5F5;
}


.modal-content h3 {
    
    font-size: bold;
  /*  color: #FF3300 ;*/
}

