* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}




h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

. {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}




/*NAVIGATION*/


.navbar-header1{
  margin-left:5px;
  width:100%;
}

.navbar {

    background-color: #222222 !important;  /* important ro overcome bootstrap */
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}



.navbar .navbar-brand:  {

    opacity: 1;
}
.navbar .navbar-brand  {

  margin-left: 0px  !important;
  color: white;
}

.navbar .navbar-brand:hover {

  margin-left: 0px  !important;
  color: white ;
  background-color: #FF3300 ;
  opacity: 1;
}

.navbar-brand {
    font-family: 'Satisfy', cursive  !important;  /*  if font csatify can't be loaded we give cursive by default */
}


.navbar-default .navbar-nav > .active{
  color: white ;
  background-color: #FF3300 ;
  opacity: 1;
}



  .icon-small
  {
      height:18px;
      margin:0;
    padding:0;
  }

  .icon-medium
  {
      height:22px;
    margin:0;
    padding:0;
  }


  


  .navbar .lang .dropdown-menu li {


      min-width: 100% !important;


  }

  .navbar .lang .dropdown-menu {
    min-width: 107px !important;
  }

.navbar-brand {
    font-family: 'Satisfy', cursive;  /*  if font csatify can't be loaded we give cursive by default */
    text-transform: capitalize;
    font-weight: 900;
    font-size: 30px;
    margin-left: 50px
}

.navbar-header1{
  margin-left:0px;
  width:100%;
}






  .navbar .lang1 .dropdown-menu li {


      min-width: 100% !important;


  }

/*FOOTER*/

.footer {

    padding-top: 30px;
    color: #cccccc;
    background-color: black;
    border-top-style: solid;
    border-color: white;
    border-width: 1px;
}

.footer>.row{
  margin-left: 30px;
  margin-right: 30px;
}

.footer .social {

    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {

    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer . {

    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.footer .copyright p{

    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;

}
