{% extends 'base.html' %}
{% load staticfiles %}

{% block mytitle %} MyGraph {% endblock %}

{% block mylink %}
    <link rel="stylesheet" href="{% static 'css/style_graph.css' %}">
    <script src="{% static 'cytoscape.js-master/dist/cytoscape.js' %}"></script>
    <script src="{% static 'ace-builds-master/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-builds-master/src/mode-yaml.js' %}" type="text/javascript" charset="utf-8"></script>
   
{% endblock %}


{% block mybody%}

 {% if request.user.get_username %}


<div id="header" class="header">
	<div class="container">
		<div class="row">
			<center><h3>Veuillez patienter SVP, vos fichiers sont en cours de traitement</h3></center>
		</div>
		<div class="row">
			<center><img src="{% static 'img/load.gif' %}" alt="Girl in a jacket"></center>
		</div>
	</div>
	
</div>
	<form id="form" method="POST" action="{% url 'authentification:graph' %}" enctype="multipart/form-data">
	{% csrf_token %} 
	<input type="hidden" name="path" value="{{ path }}">
	</form>

	<script>
		window.setTimeout(function(){document.getElementById("form").submit();}, 5000);
	</script>
  



  {% endif %}

  {% endblock %}

