{% extends 'base.html' %}
{% load staticfiles %}

{% block mytitle %} NodeDetail {% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/style_login.css' %}">
{% endblock %}

{% block mybody%}
	<div id="header" class="header">
	   <div class="container">
	      <div class="row">
	         <center>
	            <h1> Le noeud est le suivant : </h1>
	         </center>
                            <a href="{% url 'authentification:detail' object.id %}">
                            <img src="{{ object.photo.url }}" class="img-responsive">  <!-- {{ user.photo.url }} -->
                         </a>
	         <h2> Name : {{object.name}}</h2>
	         <h2> Type : {{ object.typen }}</h2>
	         <h2> Attribute : {{ object.attribute }}</h2>
	         <h2> Date de creation : {{ object.date }}</h2>
	         {% if error_message %}  <!--une variable pour contenir le msg d'erreur-->
	         <p><strong>This is error message {{error_message}} </strong></p>
	         {% endif %}
	      </div>
	   </div>
	</div>
{% endblock %}