{% extends 'base.html' %}
{% load staticfiles %}

{% block mytitle %} Add a new Node {% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/style_graph.css' %}">
{% endblock %}

{% block mybody%}
    <div id="header" class="header">
       <div class="container">
          <div class="row">
             <div class="container-fluid">
                <div class="row">
                   <div class="col-sm-12 col-md-7">
                      <div class="panel panel-default">
                         <div class="panel-body">
                            <h1>Add a New Node</h1>
                            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                               -->                     {% csrf_token %}   <!--  for common security practises-->
                               {% include 'authentification/form_template.html' %}  <!-- how we want our labels shown -->
                               <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                     <!-- im pass 2 fields -->
                                     <button type="submit" class="btn btn-success">Submit</button>
                                  </div>
                               </div>
                            </form>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
{% endblock %}