{% extends 'base.html' %}
{% load staticfiles %}
{% block mytitle %} CloudOrchestrator {% endblock %}

{% block mylink %}
	<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
	<style type="text/css">
		.txt{
			margin-bottom: 100px;
		}
		.bt1{
			float: left;
    		margin-left: 300px;
		}
		.bt2{
			float: right;
    		margin-right: 300px;
		}
		.header button{
			margin-top: 100px;
		}
	</style>
{% endblock %}

{% block myitems%}
            <li class="nav-item">
				<a class="nav-link js-scroll-trigger"  href="#services"><span class="fa fa-server" aria-hidden="true"></span> 
					&nbsp;services
				</a>
			</li>
            <li class="nav-item">
				<a class="nav-link js-scroll-trigger"  href="#contact"><span class="fa fa-comments" aria-hidden="true"></span> 
					&nbsp;contact
				</a>
			</li>
{% endblock %}

{% block mybody%}
	<!--- Header -->
	<div id="header" class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 ban  wow zoomIn"  data-wow-delay="1s">
					<div class="txt">
						<h1>Orchestration of cloud services</h1>
					</div>
					<button class="btn btn-lg btn-primary bt1"  onclick="location.href = '{% url 'authentification:login' %}';">
						<i class="fa fa-sign-in" ></i>Sign in  
					</button>
					<button class="btn btn-lg btn-success bt2"  onclick="location.href = '{% url 'authentification:register' %}';">
						<i class="fa fa-user-plus"></i>Join Now
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Header -->

	<!--- Description -->
	<section id="description" class="services">
		<div class="container">
			<div class="col-lg-12 tat">
				<h2 class="wow fadeInUp">Description</h2>
				<center> <hr class="separator"> </center>
			</div>
			<div class="row wow fadeInUp ">
				<p class="pg">
					Given its rapid growth, cloud computing is the new form of 21st century data storage. 
					It provides networked access to a shared pool of configurable computing resources. 
					These resources are characterized by elasticity, high availability, and reduced costs through the pay-per-use model. 
					This allows business processes to be run at a high level of performance and low cost of operation.
					<br>
					Operationalization of business processes on the cloud requires consistent coordination and precise understanding of a set of interacting cloud services. 
					These services are said orchestrated to satisfy the business process.
					<br>
					Cloud resource orchestration is about managing interactions between resources and automating business processes.
				</p>
			</div>
		</div>
	</section>
	<!-- End Description -->

	<!--- Services -->
	<section id="services" class="services">
		<div class="container">
			<div class="col-lg-12 tat">
				<h2 class="wow fadeInUp">At your service</h2>
				<center> <hr class="separator"> </center>
				<p class="wow fadeInUp" data-wow-delay="0.4">
					Our site offers you several services:
				</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
					<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
					<h4>Orchestration of Cloud Services</h4>
					<p>Our site allows you to orchestrate cloud services of many types and even add new ones.</p>
				</div>
				<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
					<i class="fa fa-cloud-download" aria-hidden="true"></i>
					<h4>Evaluation of the orchestration plan</h4>
					<p> 
						We can evaluate the orchestration plan by calculating the overall estimated QoS of the plan and then the overall QoS of the plan and comparing the two
					</p>
				</div>
				<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
					<i class="fa fa-hourglass-start" aria-hidden="true"></i>
					<h4>Quality of service calculation</h4>
					<p>The application calculates the quality of services and uses it for evaluation. </p>
				</div>
				<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<h4>Adaptation of an orchestration plan</h4>
					<p>The application makes it possible to adapt an orchestration plan corresponding to users' needs. </p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services -->

	<!--- Portfolio -->
	<section id="portfolio" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading wow fadeInDown">Album</h2>
					<center> <hr class="separator"> </center>
					<h3 class="section-subheading text-muted  wow fadeInDown">Here are some pictures from our gallery.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item  wow rotateIn" data-wow-delay="0.4s">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="{% static '/media/images/portfolio/petit/i1.PNG' %}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Template creation</h4>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item wow rotateIn" data-wow-delay="0.4s">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="{% static '/media/images/portfolio/petit/i3.jpg' %}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Orchestartion plan Evaluation</h4>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item wow rotateIn" data-wow-delay="0.4s">
					<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="{% static '/media/images/portfolio/petit/i2.jpg' %}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Add cloud services</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--- end Portfolio ---->

	<!-- Touch -->
	<div id="touch" class="touch">
		<div class="container">
			<div class="row">
				<h2 class="wow fadeInUp">Keep in touch with us</h2>
				<center> <hr class="separator1"> </center>
				<p class="wow fadeInUp" data-wow-delay="0.4s">
					You can stay in touch with us thanks to our different pages: 
				</p>
               <div class="col-lg-12 col-md-12 ">
					<a href="https://www.facebook.com/ENSI.tunisie/" title="Facebook" class="wow fadeInUp" data-wow-delay="0.6s">  <i class="social fa fa-facebook" aria-hidden="true"></i> </a>
					<a href="https://twitter.com/ensitn?lang=ar" title="Twitter" class="wow fadeInUp" data-wow-delay="0.8s">  <i class="social fa fa-twitter" aria-hidden="true"></i> </a>
					<a href="https://www.linkedin.com/school/11094564" title="Linkedin" class="wow fadeInUp" data-wow-delay="1s">  <i class="social fa fa-linkedin" aria-hidden="true"></i> </a>
					<a href="https://www.youtube.com/channel/UCjKdWF4JmIjUpS8YuPvnNzA" title="Youtube" class="wow fadeInUp" data-wow-delay="1.2s">  <i class="social fa fa-youtube" aria-hidden="true"></i> </a>
					<a href="https://github.com/OssecTN" title="Github" class="wow fadeInUp" data-wow-delay="1.4s">  <i class="social fa fa-github" aria-hidden="true"></i> </a><br>
				</div>
			</div>
		</div>
	</div>
	<!--- End touch ---->

	<!--- Contact ------>
	<div id="contact" class="contact">
		<div class="container">
			<div class="row">
				<h2 class="wow fadeInUp">Contact us</h2>
				<center> <hr class="separator"> </center>
				<p class="wow fadeInUp" data-wow-delay="0.4">
					You can contact us by filling in the following fields :
				</p>
				<div class="main  wow fadeInUp">
					<div class="info">Give Your Feedback!</div>
					<form action="mail_handler.php" method="post" name="form" class="form-box">
						<label for="name">Name</label><br>
						<input type="text" name="name" class="inp" placeholder="Veuillez saisir votre nom" required><br>
						<label for="email">Email</label><br>
						<input type="email" name="email" class="inp" placeholder="Veuillez saisir votre Email" required><br>
						<label for="phone">Phone</label><br>
						<input type="tel" name="phone" class="inp" placeholder="Veuillez saisir votre num tél" required><br>
						<label for="message">Message</label><br>
						<textarea name="msg" class="msg-box" placeholder="Veuillez saisir votre message ici..." required></textarea><br>
						<input type="submit" name="submit" value="Envoyer" class="sub-btn">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<!-- Project Details Go Here -->
							<h2>Template creation</h2>
							<img class="img-responsive" src="{% static '/media/images/portfolio/petit/i1.PNG' %}" alt="">
							<p>
								The application offers the possibility to create new template.
							</p>
							<center><button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer </button></center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Evaluation plan of orchestartion</h2>
							<center><img class="img-responsive img-centered" src="{% static 'media/images/portfolio/petit/i3.jpg' %}" alt=""></center>
							<p>
								We can evaluate the orchestration plan by calculating the overall estimated QoS of the plan and then the overall QoS of the plan and comparing the two.
							</p>
							<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<!-- Project Details Go Here -->
							<h2>Add cloud services</h2>
							<center><img class="img-responsive img-centered" src="{% static '/media/images/portfolio/petit/i2.jpg' %}" alt=""></center>
							<p>The application makes it possible to add new cloud services corresponding to users' needs.</p>
							<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}