<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Traitement</title>
		<script>
			window.setTimeout(function(){document.getElementById("form").submit();}, 5000);
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<center><h3> Please wait <br> We are loading your data </h3></center>
			</div>
			<div class="row">
				<center><img src="{% static 'img/load.gif' %}" alt=""></center>
			</div>
		</div>
		<form id="form" method="POST" action="{% url 'graph' %}" enctype="multipart/form-data">
			{% csrf_token %} 
			<input type="hidden" name="path" value="{{ path }}">
		</form>
	</body>
</html>	