<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Graph</title>
		{% load staticfiles %}
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/stylew.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script>new WOW().init();</script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/myScript.js' %}"></script>
		<script src="{% static 'cytoscape.js-master/dist/cytoscape.js' %}"></script>
		<script src="{% static 'ace-builds-master/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'ace-builds-master/src/mode-yaml.js' %}" type="text/javascript" charset="utf-8"></script>
		
		<style>
			#editor {
				width: 100%;
				min-height: 400px;
			}
			#cy {
				width: 100%;
				min-height: 700px;
				display: inline-block;
			}
		</style>
	</head>
	<body  data-spy="scroll" data-target=".navbar-fixed-top" >

		<!-- NAvigation -->
		<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container navbar-header1">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand page-scroll">CloudOrchestrator</a>
				</div>
				<div class="navbar-collapse collapse" id="navbarResponsive">
					<ul class="nav lang navbar-nav navbar-right pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<img id="imgBtnSel" src="{% static 'images/fr.jpeg' %}" alt="..." class="img-thumbnail icon-medium">  
							Fr <span  id="lanBtnSel" class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a id="btnEng" href="indexEn.html" class="language"><img id="imgBtnEng" src="{% static 'images/en.png' %}" alt="..." class="img-thumbnail icon-small">
										<span id="lanBtnEng">En</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#services">services</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#contact">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--- End Navigation ---->

		<div class="container">
			<!--- Graph ---->
			<div class="row">
				<div id="cy" class="col-lg-12 col-md-12"  ></div>
			</div>
			<!---- End Graph ---->

			<!--- File ---->
			<div class="row">
				<div id="editor" class="col-lg-12 col-md-12" >{{ file }}</div>
			</div>
			<!---- End File ---->
		</div><br><br>

		<!---- Footer ---->
		<div id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<h4  class="wow fadeInUp">Contact Us</h4>
						<p><i class="fa fa-home" aria-hidden="true"></i> Campus Universitaire de la Manouba – 2010 La Manouba</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i> webmaster@ensi-uma.tn</p>
						<p><i class="fa fa-phone" aria-hidden="true"></i> +216 71 600 444</p>
						<p><i class="fa fa-globe" aria-hidden="true"></i> www.ensi-uma.tn/</p>
					</div>
					<div class="col-lg-4 col-md-4"></div>
					<div class="col-lg-4 col-md-4">
						<h4>About</h4>
						<a href="https://www.facebook.com/ENSI.tunisie/" title="Facebook">  <i class="social fa fa-facebook" aria-hidden="true"></i> </a>
						<a href="https://twitter.com/ensitn?lang=ar" title="Twitter">  <i class="social fa fa-twitter" aria-hidden="true"></i> </a>
						<a href="https://www.linkedin.com/school/11094564" title="Linkedin">  <i class="social fa fa-linkedin" aria-hidden="true"></i> </a>
						<a href="https://www.youtube.com/channel/UCbHeECHV-VTS2jiZCazW7Dg" title="Youtube">  <i class="social fa fa-youtube" aria-hidden="true"></i> </a>
						<a href="https://github.com/OssecTN" title="Github">  <i class="social fa fa-github" aria-hidden="true"></i> </a><br>
						<a href="" data-toggle="modal" data-target="#myModal"> About us</a><br>
						<a href="" data-toggle="modal" data-target="#myModal1"> Privacy Pölicy</a><br>
						<a href="" data-toggle="modal" data-target="#myModal2"> Terms & Conditions of Use </a><br><br>
					</div>
				</div>
				<div class="row">
					<div class="copyright">
						<p>Copyright © 2017 National School of Computer Sciences. All rights reserved. </p>
					</div>
				</div>
			</div>
		</div>
		<!---- End Footer ---->

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center> <h4 class="modal-title" id="myModalLabel">Présentation de l’ENSI</h4> </center>
					</div>
					<div class="modal-body">{{ about | safe }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Portfolio Modals -->
		<!-- Use the modals below to showcase details about your portfolio projects! -->
		<!-- Modal -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center>  <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>  </center>
					</div>
					<div class="modal-body">{{ privacy | safe }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center> <h4 class="modal-title" id="myModalLabel">Terms and Conditions of Use</h4>  </center>
					</div>
					<div class="modal-body">{{ term | safe }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal -->
		
		<script type="text/javascript">
			var editor = ace.edit("editor");
			var yamlMode = ace.require("ace/mode/yaml").Mode;
			editor.session.setMode(new yamlMode());
			editor.setTheme("ace/theme/twilight");
			editor.setReadOnly(true); 
			var cy = cytoscape({
				container: document.getElementById('cy'), // container to render in
				elements: [ // list of graph elements to start with
					{% for key,val in noeuds.items %}
						{
							group: "nodes",
							data: { id:'{{ key }}' ,name: '{{ val.name }}' },
							style: {
								{% if val.type == "Compute" %}
									'background-image': '{% static "img/serveur.jpg" %}' ,
								{% elif val.type == "Database" %}
									'background-image': '{% static "img/bd.jpg" %}' ,
								{% elif val.type == "DBMS" %}
									'background-image': '{% static "img/sgbd.png" %}' ,
								{% elif val.type == "WebServer" %}
									'background-image': '{% static "img/web.png" %}' ,
								{% elif val.type == "WebApplication.CMS" %}
									'background-image': '{% static "img/cms.jpg" %}' ,
								{% endif %}
								'background-fit': 'cover cover'
							}
						},
					{% endfor %}
					{% for id,relation in relations.items %}
						{
							group: "edges",
							data: { id:'e{{ id }}' ,source: "{{ relation.source }}", target: "{{ relation.dest }}",name: '{{ relation.type }}'  },
						},
					{% endfor %}	
				],
				style: [ // the stylesheet for the graph
					{
						selector: 'node',
						style: {
							'background-color': '#666',
							'label': 'data(name)',
							'width': 120,
							'height': 120,
						}
					},
					{
						selector: 'edge',
						style: {
							'width': 3,
							'line-color': '#ccc',
							'target-arrow-color': '#ccc',
							'target-arrow-shape': 'triangle',
							'label': 'data(name)'
						}
					}
				],
				layout: {
					name: 'breadthfirst'
				},
			});
			cy.on('tap', 'node', function(evt){
				var node = evt.target;
				document.getElementById('menu-deroulant').style.display='inline-block';
			});
		</script>
  </body>
</html>

