<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Cloud orchestration</title>
		{% load staticfiles %}
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/myScript.js' %}"></script>
		<script>
			new WOW().init();
		</script>
	</head>
	<body  data-spy="scroll" data-target=".navbar-fixed-top" >
	
	<!-- NAvigation -->
		<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container navbar-header1">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand page-scroll">CloudOrchestrator</a>
				</div>
				<div class="navbar-collapse collapse" id="navbarResponsive">
					<ul class="nav lang navbar-nav navbar-right pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<img id="imgBtnSel" src="{% static 'images/en.png' %}" alt="..." class="img-thumbnail icon-medium"> En <span  id="lanBtnSel" class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a id="btnEng" href="indexEn.html" class="language"><img id="imgBtnEng" src="{% static 'images/fr.jpeg' %}" alt="..." class="img-thumbnail icon-small">
										<span id="lanBtnEng"> Fr </span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#services">services</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"  href="#contact">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--- End Navigation ---->

		<!--- Header ---->

		<div id="header" class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 ban  wow zoomIn"  data-wow-delay="1s">
						<div class="">
							<h1>Orchestration of cloud services</h1>
							<p class="pg">
								Given its rapid growth, cloud computing is the new form of 21st century data storage. 
								It provides networked access to a shared pool of configurable computing resources. These resources are characterized by elasticity, 
								high availability, and reduced costs through the pay-per-use model. This allows business processes to be run at a high level of performance 
								and low cost of operation.
							</p>
							<p>
								Operationalization of business processes on the cloud requires consistent coordination and precise understanding of a set of interacting cloud services. 
								These services are said orchestrated to satisfy the business process.
							</p>
							<p>
								Cloud resource orchestration is about managing interactions between resources and automating business processes.
							</p>
						</div>
					   <button class="btn btn-lg btn-primary"  onclick="location.href = '{% url 'login' %}';"><i class="fa fa-sign-in" ></i>  Sign in  </button>
					   <button class="btn btn-lg btn-success"  onclick="location.href = '{% url 'register' %}';"><i class="fa fa-user-plus"></i>  Join Now</button>
					</div>
				</div>
			</div>
		</div>
		<!---- End Header ---->

		<!--- Services ---->
		<section id="services" class="services">
			<div class="container">
				<div class="col-lg-12 tat">
					<h2 class="wow fadeInUp">At your service</h2>
					<center> <hr class="separator"> </center>
					<p class="wow fadeInUp" data-wow-delay="0.4">
						Our site offers you several services:
					</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
						<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
						<h4>Orchestration of Cloud Services</h4>
						<p>Our site allows you to orchestrate cloud services of many types and even add new ones.</p>
					</div>
					<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
						<i class="fa fa-cloud-download" aria-hidden="true"></i>
						<h4>Evaluation of the orchestration plan</h4>
						<p> 
							We can evaluate the orchestration plan by calculating the overall estimated QoS of the plan 
							and then the overall QoS of the plan and comparing the two
						</p>
					</div>
					<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
						<i class="fa fa-hourglass-start" aria-hidden="true"></i>
						<h4>Quality of service calculation</h4>
						<p>The application calculates the quality of services and uses it for evaluation. </p>
					</div>
					<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h4>Adaptation of an orchestration plan</h4>
						<p>The application makes it possible to adapt an orchestration plan corresponding to users' needs. </p>
					</div>
				</div>
			</div>
		</section>
		<!---- End Services ---->

		<!-- Touch -->
		<div id="touch" class="touch">
			<div class="container">
				<div class="row">
					<h2 class="wow fadeInUp">Keep in touch with us</h2>
					<center> <hr class="separator1"> </center>
					<p class="wow fadeInUp" data-wow-delay="0.4s">
						You can stay in touch with us thanks to our different pages: 
					</p>
					<div class="col-lg-12 col-md-12 ">
						<a href="https://www.facebook.com/ENSI.tunisie/" title="Facebook" class="wow fadeInUp" data-wow-delay="0.6s">  <i class="social fa fa-facebook" aria-hidden="true"></i> </a>
						<a href="https://twitter.com/ensitn?lang=ar" title="Twitter" class="wow fadeInUp" data-wow-delay="0.8s">  <i class="social fa fa-twitter" aria-hidden="true"></i> </a>
						<a href="https://www.linkedin.com/school/11094564" title="Linkedin" class="wow fadeInUp" data-wow-delay="1s">  <i class="social fa fa-linkedin" aria-hidden="true"></i> </a>
						<a href="https://www.youtube.com/channel/UCjKdWF4JmIjUpS8YuPvnNzA" title="Youtube" class="wow fadeInUp" data-wow-delay="1.2s">  <i class="social fa fa-youtube" aria-hidden="true"></i> </a>
						<a href="https://github.com/OssecTN" title="Github" class="wow fadeInUp" data-wow-delay="1.4s">  <i class="social fa fa-github" aria-hidden="true"></i> </a><br>
					</div>
				</div>
			</div>
		</div>
		<!--- End touch ---->
		
		<!--- Portfolio ---->
		<section id="portfolio" class="bg-light-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading wow fadeInDown">Album</h2>
						<center> <hr class="separator"> </center>
						<h3 class="section-subheading text-muted  wow fadeInDown">Here are some pictures from our gallery.</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 portfolio-item  wow rotateIn" data-wow-delay="0.4s">
						<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-plus fa-3x"></i>
								</div>
							</div>
							<img src="{% static 'images/portfolio/petit/i1.PNG' %}" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption">
							<h4>Template creation</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item wow rotateIn" data-wow-delay="0.4s">
						<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-plus fa-3x"></i>
								</div>
							</div>
							<img src="{% static 'images/portfolio/petit/i3.jpg' %}" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption">
							<h4>Evaluation plan of orchestartion</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item wow rotateIn" data-wow-delay="0.4s">
						<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-plus fa-3x"></i>
								</div>
							</div>
							<img src="{% static 'images/portfolio/petit/i2.jpg' %}" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption">
							<h4>Add cloud services</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		 <!--- end Portfolio ---->
		
		<!--- Contact ------>
		<div id="contact" class="contact">
			<div class="container">
				<div class="row">
					<h2 class="wow fadeInUp">Contact us</h2>
					<center> <hr class="separator"> </center>
					<p class="wow fadeInUp" data-wow-delay="0.4">
						You can contact us by filling in the following fields :
					</p>
					<div class="main  wow fadeInUp">
						<div class="info">Give Your Feedback!</div>
						<form action="mail_handler.php" method="post" name="form" class="form-box">
							<label for="name">Name</label><br>
							<input type="text" name="name" class="inp" placeholder="Veuillez saisir votre nom" required><br>
							<label for="email">Email</label><br>
							<input type="email" name="email" class="inp" placeholder="Veuillez saisir votre Email" required><br>
							<label for="phone">Phone</label><br>
							<input type="tel" name="phone" class="inp" placeholder="Veuillez saisir votre num tél" required><br>
							<label for="message">Message</label><br>
							<textarea name="msg" class="msg-box" placeholder="Veuillez saisir votre message ici..." required></textarea><br>
							<input type="submit" name="submit" value="Envoyer" class="sub-btn">
						</form>
					</div>
				</div>
			</div>
		</div>
		<!---- End Contact ----->

		<!---- Footer ---->
		<div id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<h4  class="wow fadeInUp">Contact Us</h4>
						<p><i class="fa fa-home" aria-hidden="true"></i> Campus Universitaire de la Manouba – 2010 La Manouba</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i> webmaster@ensi-uma.tn</p>
						<p><i class="fa fa-phone" aria-hidden="true"></i> +216 71 600 444</p>
						<p><i class="fa fa-globe" aria-hidden="true"></i> www.ensi-uma.tn/</p>
					</div>
					<div class="col-lg-4 col-md-4"></div>
					<div class="col-lg-4 col-md-4">
						<h4>About</h4>
						<a href="https://www.facebook.com/ENSI.tunisie/" title="Facebook">  <i class="social fa fa-facebook" aria-hidden="true"></i> </a>
						<a href="https://twitter.com/ensitn?lang=ar" title="Twitter">  <i class="social fa fa-twitter" aria-hidden="true"></i> </a>
						<a href="https://www.linkedin.com/school/11094564" title="Linkedin">  <i class="social fa fa-linkedin" aria-hidden="true"></i> </a>
						<a href="https://www.youtube.com/channel/UCbHeECHV-VTS2jiZCazW7Dg" title="Youtube">  <i class="social fa fa-youtube" aria-hidden="true"></i> </a>
						<a href="https://github.com/OssecTN" title="Github">  <i class="social fa fa-github" aria-hidden="true"></i> </a><br>
						<a href="" data-toggle="modal" data-target="#myModal"> About us</a><br>
						<a href="" data-toggle="modal" data-target="#myModal1"> Privacy Pölicy</a><br>
						<a href="" data-toggle="modal" data-target="#myModal2"> Terms & Conditions of Use </a><br><br>
					</div>
				</div>
				<div class="row">
					<div class="copyright">
						<p>Copyright © 2017 National School of Computer Sciences. All rights reserved. </p>
					</div>
				</div>
			</div>
		</div>

		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center> <h4 class="modal-title" id="myModalLabel">Présentation de l’ENSI</h4> </center>
					</div>
					<div class="modal-body">{{ about | safe  }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Portfolio Modals -->
		<!-- Use the modals below to showcase details about your portfolio projects! -->
		<!-- Modal -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<center>  <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>  </center>
					</div>
					<div class="modal-body">{{ privacy | safe  }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<center> <h4 class="modal-title" id="myModalLabel">Terms and Conditions of Use</h4>  </center>
					</div>
					<div class="modal-body">{{ term | safe  }}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

